stages:
  - build

variables:
  DOCKER_IMAGE:  "$CI_REGISTRY/squid"
  DOCKER_HUB_IMAGE:  "$DOCKER_HUB_ORG/squid:snapshot"
  DOCKER_PLATFORMS: "linux/amd64,linux/arm64"

build_and_push_docker:
  image: docker:28-cli
  stage: build
  before_script:
    - docker info
    - docker buildx create --use --name squid || docker buildx use squid
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - echo "$DOCKER_HUB_PASSWORD"  | docker login -u "$DOCKER_HUB_USER"  --password-stdin
  script:
    - docker buildx build
      --platform "$DOCKER_PLATFORMS"
      --label "org.opencontainers.image.revision=$CI_COMMIT_SHA"
      -t "$DOCKER_IMAGE"
      -t "$DOCKER_HUB_IMAGE"
      --push
      .
  tags:
    - docker-runner
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  timeout: 4h
